name: R-CMD-check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.3' 

      - name: Install dependencies  
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            devtools
            roxygen2
            testthat
            purrr
            glue
            tibble
            yaml
            readr
            dplyr
            DBI
            RPostgres
  
      - name: Install package
        run: R CMD build . && R CMD INSTALL *.tar.gz

      - name: Check package
        run: R CMD check *.tar.gz --no-manual --as-cran

      - name: Run unit tests
        run: Rscript -e "devtools::test()"
